<footer>
  <div class="container">
    <div class="footer-col">
      Thanks to Frank Elavsky for sharing this template with me<br/>
      <abbr title="Last build on {{site.time | date: '%Y-%m-%d'}}">{{ site.time | date: '%B %Y'}}</abbr>
    </div>
    <!-- <div class="footer-col">
      <a href="https://github.com/frankelavsky/academic_homepage/issues">See a bug on this page? Give me feedback!</a>
    </div> -->
    <div class="footer-col site-desc">{{ site.description }} I'm <a href="https://twitter.com/areen_khalaila">@areen_khalaila</a> on Twitter.</div>
  </div>
</footer>
